
/* 2xl */
/* ===== x-large devices (large desktops, less than 1537px)===== */
@media (max-width: 1536px) {
}
/* xl */
/* ===== large devices (desktops, less than 1281px) ===== */
@media (max-width: 1280px) {
  header .container {
    padding: 14px 0;
  }
  header .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
/* lg */
/* ===== medium devices (tablets, less than 1025px) ===== */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 63px;
    line-height: 76px;
  }
  img {
    width: 100%;
  }
  header .container {
    width: 100%;
   
    position: relative;
  }
  header .contact-btn #menu-icon {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    /* height: 29vh; */
    background-color: #cccccc;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: 0.4s;
    display: none;
  }
  header .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: 0.4s;
  }
  header .navbar.open {
    right: 2%;
    display: block;
  }
  /* .container {
    width: 990px;
    padding: 0px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 37px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  
  .section_padding {
    padding: 70px 0;
  }
  .theam_btn {
    font-size: 16px;
    padding: 10px 40px;
  } */
  /* header_part  start */
  /* .navber .link,
  .navber .theam_btn{
     display: none;
  }
 
  .navber .toggle_btn{
    display: block;
  }
  .navber .logo{
   width: 50%;
  }
  .dropdown-manu{
    display: block;
  }
  .dropdown-btn{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  }
  .drop-contact-btn{
    padding: 5px;
    font-size: 8px;
  }
  .drop-contact-btn a{
    padding: 1px;
  } */
  /* hero_part css start */
  .hero {
    padding: 80px 0px 80px;
  }
  .hero .text {
    width: 100%;
  }
  .hero .text h2 {
    margin-bottom: 25px;
  }
  .hero-btn{
    padding-bottom:25px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    margin-top: 20px;
  }
  /* main-part css start */
  .main .lorem h3 {
    margin-bottom: 20px;
  }
  /* hill-part css start */
  .hill{
    padding: 0;
  }
  .hill .card {
    width: 100%;
    padding: 0 0 20px;
    margin-top: 30px;
  }
  .hill .card h5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hill .card img {
    margin-bottom: 40px;
  }
  .hill .card h5::before {
    top: -20px;
  }
  /*aeroplne-part css start */

  .aeroplne .container {
    padding: 0;
  }
  .aeroplne-text img {
    padding-top: 50px;
    width: 60px;
  }
 
  /* lakeview-part css start */
 
  .lakeview-text h5 {
    line-height: 30px;
  }
  .lakeview .container{
    flex-wrap: wrap;
  }
  /* choosen_part css start */
  .choose-place .container{
    flex-wrap: wrap;
  }
  .choose-contant{
    padding-right: 80px;
  }
 .choosen-place h4 {
    padding-bottom: 0px;
  }
 .choosen-place .choose-lorem {
    margin-top: 30px;
  }
  .choosen-place .choose-lorem h6 {
    margin-bottom: 10px;
  }
  .choose-img img {
    margin-top: 20px;
  }
  /* customer-part css start */
  #review_part .owl-prev {
    left: -20px;
  }
  #review_part .owl-next {
    right: -20px;
  }
  /* .customer .customer-card {
    width: 100%;
    padding: 30px 35px;
  }
  .customer .customer-card img {
    width: 80px;
    margin-bottom: 10px;
  } */

  /* contact_part css start */
  .contact{
    padding: 0;
  }
  .contact h3 {
    margin-bottom: 35px;
  }
  .contact .form {
    width: 100%;
    padding-right: 0;
  }
  .contact .from-img {
    width: 100%;
    height: 100%;
    margin-top: 35px;
    padding-bottom: 10px;
  }
  .contact form a.theam_btn {
    width: 200px;
  }
  /* footer-part css start */
  .footer{
    padding-top: 30px;
  }
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-link .links {
    margin-top: 0px;
    padding-left:10px;
    
  }
  .footer .footer-link .links .link {
    width: 100%;
  }
}

/* md */
/* ===== small devices (landscape phones, less than 768px) ===== */
@media (max-width: 767px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 37px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  
  .section_padding {
    padding: 70px 0;
  }
  .theam_btn {
    font-size: 16px;
    padding: 10px 40px;
  }
  /* header_part  start */
  /* .navber .link,
  .navber .theam_btn{
     display: none;
  }
 
  .navber .toggle_btn{
    display: block;
  }
  .navber .logo{
   width: 50%;
  }
  .dropdown-manu{
    display: block;
  }
  .dropdown-btn{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  }
  .drop-contact-btn{
    padding: 5px;
    font-size: 8px;
  }
  .drop-contact-btn a{
    padding: 1px;
  } */
  /* hero_part css start */
  .hero {
    padding: 80px 0px 80px;
  }
  .hero .text {
    width: 100%;
  }
  .hero .text h2 {
    margin-bottom: 25px;
  }
  .hero-btn{
    padding-bottom:25px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    margin-top: 20px;
  }
  /* main-part css start */
  .main .lorem h3 {
    margin-bottom: 20px;
  }
  /* hill-part css start */
  .hill{
    padding: 0;
  }
  .hill .card {
    width: 100%;
    padding: 0 0 20px;
    margin-top: 30px;
  }
  .hill .card h5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hill .card img {
    margin-bottom: 40px;
  }
  .hill .card h5::before {
    top: -20px;
  }
  /*aeroplne-part css start */

  .aeroplne .container {
    padding: 0;
  }
  .aeroplne-text img {
    padding-top: 50px;
    width: 60px;
  }
 
  /* lakeview-part css start */
  .lakeview-text {
    flex-wrap: wrap;
  }
  .lakeview-text h5 {
    line-height: 30px;
  }
  .lakeview-contant-img1{
    width: 100%;
    height: 455px;
  }
  .lakeview .lakeview-contant-img {
    margin-bottom: 0;
  }
  .lakeview{
    padding-bottom: 80px;
  }
  /* choosen_part css start */
  .choose-contant{
    padding-right: 80px;
  }
 .choosen-place h4 {
    padding-bottom: 0px;
  }
 .choosen-place .choose-lorem {
    margin-top: 30px;
  }
  .choosen-place .choose-lorem h6 {
    margin-bottom: 10px;
  }
  .choose-img img {
    margin-top: 20px;
  }
  /* customer-part css start */
   /* review_part css start */
   #review_part .single_customer_item {
    padding: 30px;
  }
  /* .customer .customer-card {
    width: 100%;
    padding: 30px 35px;
  }
  .customer .customer-card img {
    width: 80px;
    margin-bottom: 10px;
  } */

  /* contact_part css start */
  .contact{
    padding: 0;
  }
  .contact h3 {
    margin-bottom: 35px;
  }
  .contact .form {
    width: 100%;
    padding-right: 0;
  }
  .contact .from-img {
    width: 100%;
    height: 100%;
    margin-top: 35px;
    padding-bottom: 10px;
  }
  .contact form a.theam_btn {
    width: 200px;
  }
  /* footer-part css start */
  .footer{
    padding-top: 30px;
  }
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-link .links {
    margin-top: 0px;
    
  }
  .footer .footer-link .links .link {
    width: 100%;
  }
}
/* sm */
/* ===== x-small devices (portrait phones, less than 641px) ===== */
@media (max-width: 640px) {
  .container {
    width: 600px;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 37px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  
  .section_padding {
    padding: 70px 0;
  }
  .theam_btn {
    font-size: 16px;
    padding: 10px 40px;
  }
  /* header_part  start */
  /* .navber .link,
  .navber .theam_btn{
     display: none;
  }
 
  .navber .toggle_btn{
    display: block;
  }
  .navber .logo{
   width: 50%;
  }
  .dropdown-manu{
    display: block;
  }
  .dropdown-btn{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  }
  .drop-contact-btn{
    padding: 5px;
    font-size: 8px;
  }
  .drop-contact-btn a{
    padding: 1px;
  } */
  /* hero_part css start */
  .hero {
    padding: 80px 0px 80px;
  }
  .hero .text {
    width: 100%;
  }
  .hero .text h2 {
    margin-bottom: 25px;
  }
  .hero-btn{
    padding-bottom:25px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    margin-top: 20px;
  }
  /* main-part css start */
  .main .lorem h3 {
    margin-bottom: 20px;
  }
  /* hill-part css start */
  .hill{
    padding: 0;
  }
  .hill .card {
    width: 100%;
    padding: 0 0 20px;
    margin-top: 30px;
  }
  .hill .card h5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hill .card img {
    margin-bottom: 40px;
  }
  .hill .card h5::before {
    top: -20px;
  }
  /*aeroplne-part css start */

  .aeroplne .container {
    padding: 0;
  }
  .aeroplne-text img {
    padding-top: 50px;
    width: 60px;
  }
 
  /* lakeview-part css start */
  .lakeview-text {
    flex-wrap: wrap;
  }
  .lakeview-text h5 {
    line-height: 30px;
  }
  .lakeview-contant-img1{
    width: 100%;
    height: 455px;
  }
  .lakeview .lakeview-contant-img {
    margin-bottom: 0;
  }
  .lakeview{
    padding-bottom: 80px;
  }
  /* choosen_part css start */
  .choose-contant{
    padding-right: 80px;
  }
 .choosen-place h4 {
    padding-bottom: 0px;
  }
 .choosen-place .choose-lorem {
    margin-top: 30px;
  }
  .choosen-place .choose-lorem h6 {
    margin-bottom: 10px;
  }
  .choose-img img {
    margin-top: 20px;
  }
  /* customer-part css start */
  /* .customer .customer-card {
    width: 100%;
    padding: 30px 35px;
  }
  .customer .customer-card img {
    width: 80px;
    margin-bottom: 10px;
  } */

  /* contact_part css start */
  .contact{
    padding: 0;
  }
  .contact h3 {
    margin-bottom: 35px;
  }
  .contact .form {
    width: 100%;
    padding-right: 0;
  }
  .contact .from-img {
    width: 100%;
    margin-top: 35px;
  }
  .contact form a.theam_btn {
    width: 200px;
  }
  /* footer-part css start */
  .footer{
    padding-top: 50px;
  }
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-link .links {
    margin-top: 0px;
    
  }
  .footer .footer-link .links .link {
    width: 100%;
  }
}
/* xs */
/* ===== x-small devices (portrait phones, less than 476px) ===== */
@media (max-width: 475px) {
  h1 {
    font-size: 40.7px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 36.46px;
    line-height: 36px;
  }
  h4 {
    font-size: 32.44px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  .container {
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  .section_padding {
    padding: 70px 0;
  }
  .theam_btn {
    font-size: 16px;
    padding: 10px 30px;
    display: inline-block;
  }
  /* header_part css start */
  #header_part .container {
    gap: 0;
  }
  header .logo img {
    width: 110px;
  }
  #navbar-toggle {
    top: 25px;
  }

  #header_part .brand {
    width: 110px;
  }
  #header_part .menu li {
    display: block;
    margin: 20px 0;
  }
  #header_part .menu li a {
    margin-left: 10px;
    font-size: 13.83px;
    font-weight: 400;
  }

  #header_part .menu a:hover {
    font-weight: 500;
  }


  /* .container {
    width: 430px;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 37px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  
  .section_padding {
    padding: 70px 0;
  }

  .theam_btn {
    font-size: 16px;
    padding: 10px 30px;
    display: inline-block;
  } */
  /* header_part css start */
  /* #header_part .container {
    gap: 0;
  }
  header .logo img {
    width: 110px;
  }
  #navbar-toggle {
    top: 25px;
  }

  #header_part .brand {
    width: 110px;
  }
  #header_part .menu li {
    display: block;
    margin: 20px 0;
  }
  #header_part .menu li a {
    margin-left: 10px;
    font-size: 13.83px;
    font-weight: 400;
  }

  #header_part .menu a:hover {
    font-weight: 500;
  } */
  /* .theam_btn {
    font-size: 16px;
    padding: 10px 40px;
  }
  /* header_part  start */
  .navber .link,
  .navber .theam_btn{
     display: none;
  }
 
  .navber .toggle_btn{
    display: block;
  }
  .navber .logo{
   width: 50%;
  }
  .dropdown-manu{
    display: block;
  }
  .dropdown-btn{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  }
  .drop-contact-btn{
    padding: 5px;
    font-size: 8px;
  }
  .drop-contact-btn a{
    padding: 1px;
  } */
  /* hero_part css start */
  .hero {
    padding: 80px 0px 80px;
  }
  .hero .text {
    width: 100%;
  }
  .hero .text h2 {
    margin-bottom: 25px;
  }
  .hero-btn{
    padding-bottom:25px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    margin-top: 20px;
  }
  /* main-part css start */
  .main .lorem h3 {
    margin-bottom: 20px;
  }
  /* hill-part css start */
  .hill{
    padding: 0;
  }
  .hill .card {
    width: 100%;
    padding: 0 0 20px;
    margin-top: 30px;
  }
  .hill .card h5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hill .card img {
    margin-bottom: 40px;
  }
  .hill .card h5::before {
    top: -20px;
  }
  /*aeroplne-part css start */

  .aeroplne .container {
    padding: 0;
  }
  .aeroplne-text img {
    padding-top: 50px;
    width: 60px;
  }
 
  /* lakeview-part css start */
  .lakeview-text {
    flex-wrap: wrap;
  }
  .lakeview-text h5 {
    line-height: 30px;
  }
  .lakeview-contant-img1{
    width: 100%;
    height: 455px;
  }
  .lakeview .lakeview-contant-img {
    margin-bottom: 0;
  }
  .lakeview{
    padding-bottom: 80px;
  }
  /* choosen_part css start */
  .choose-contant{
    padding-right: 80px;
  }
 .choosen-place h4 {
    padding-bottom: 0px;
  }
 .choosen-place .choose-lorem {
    margin-top: 30px;
  }
  .choosen-place .choose-lorem h6 {
    margin-bottom: 10px;
  }
  .choose-img img {
    margin-top: 20px;
  }
  /* customer-part css start */
  #review_part .single_customer_item {
    width: 100%;
    padding: 30px 35px;
  }
  #review_part .single_customer_item img {
    width: 80px;
    margin-bottom: 10px;
  }
  .owl-next {
    right: -18px;
  }
  .owl-prev {
    left: -18px;
  }
  .owl-next,
  .owl-prev {
    width: 50px;
    height: 50px;
  }
  /* .customer .customer-card {
    width: 100%;
    padding: 30px 35px;
  }
  .customer .customer-card img {
    width: 80px;
    margin-bottom: 10px;
  } */

  /* contact_part css start */
  .contact{
    padding: 0;
  }
  .contact h3 {
    margin-bottom: 35px;
  }
  .contact .form {
    width: 100%;
    padding-right: 0;
  }
  .contact .from-img {
    width: 100%;
    height: 363px;
    margin-top: 35px;
  }
  .contact form a.theam_btn {
    width: 200px;
  }
  /* footer-part css start */
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-link .links {
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .footer .footer-link .links .link {
    width: 100%;
  }
  
}
/* xs */
/* ===== x-small devices (portrait phones, less than 361px) ===== */

@media (max-width: 360px) {
 
  .container {
    width: 100%;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 37px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  
  .section_padding {
    padding: 70px 0;
  }
  /* .theam_btn {
    font-size: 16px;
    padding: 10px 40px;
  } */
  /* header_part  start */
  #header_part .main .theam_btn {
    font-size: 14px;
    padding: 7px 15px !important;
    display: inline-block;
  }
  header .main a {
    margin-left: 0px;
    margin-right: 10px;
  }
  /* .navber .link,
  .navber .theam_btn{
     display: none;
  }
 
  .navber .toggle_btn{
    display: block;
  }
  .navber .logo{
   width: 50%;
  }
  .dropdown-manu{
    display: block;
  }
  .dropdown-btn{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
  }
  .drop-contact-btn{
    padding: 5px;
    font-size: 8px;
  }
  .drop-contact-btn a{
    padding: 1px;
  } */
  
  /* hero_part css start */
  .hero {
    padding: 80px 0px 80px;
  }
  .hero .text {
    width: 100%;
  }
  .hero .text h2 {
    margin-bottom: 25px;
  }
  .hero-btn{
    padding-bottom:25px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    margin-top: 20px;
  }
  /* main-part css start */
  .main .lorem h3 {
    margin-bottom: 20px;
  }
  /* hill-part css start */
  .hill{
    padding: 0;
  }
  .hill .card {
    width: 100%;
    padding: 0 0 20px;
    margin-top: 30px;
  }
  .hill .card h5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hill .card img {
    margin-bottom: 40px;
  }
  .hill .card h5::before {
    top: -20px;
  }
  /*aeroplne-part css start */

  .aeroplne .container {
    padding: 0;
  }
  .aeroplne-text img {
    padding-top: 50px;
    width: 60px;
  }
 
  /* lakeview-part css start */
  .lakeview .padding{
   padding: 0;
  }
  .lakeview .container {
    gap: 30px;
  }
  .lakeview-text {
    flex-wrap: wrap;
    padding: 10px;
  }
  .lakeview-text h5 {
    line-height: 30px;
  }
  
  .lakeview-contant-img1{
    width: 100%;
    height: 455px;
  }
  .lakeview .lakeview-contant-img {
    margin-bottom: 0;
    width: 100%;
  }
  .lakeview{
    padding-bottom: 80px;
  }
  /* choosen_part css start */
  
  .choose-contant{
    padding-right: 80px;
  }
 .choosen-place h4 {
    padding-bottom: 0px;
  }
 .choosen-place .choose-lorem {
    margin-top: 30px;
  }
  .choosen-place .choose-lorem h6 {
    margin-bottom: 10px;
  }
  .choose-img img {
    margin-top: 20px;
  }
  /* customer-part css start */
  .customer .customer-card {
    width: 100%;
    padding: 30px 35px;
  }
  .customer .customer-card img {
    width: 80px;
    margin-bottom: 10px;
  }

  /* contact_part css start */
  .contact{
    padding: 0;
  }
  .contact h3 {
    margin-bottom: 35px;
  }
  .contact .form {
    width: 100%;
    padding-right: 0;
  }
  .contact .from-img {
    width: 100%;
    height: 363px;
    margin-top: 35px;
  }
  .contact form a.theam_btn {
    width: 200px;
  }
  /* footer-part css start */
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-link .links {
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .footer .footer-link .links .link {
    width: 100%;
  }
 
}
