@media (max-width: 412px) {
  .container {
    width: 360px;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 43px;
  }
  h2 {
    font-size: 40px;
    line-height: 41px;
  }
  h3 {
    font-size: 37px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 26px;
    line-height: 26px;
  }
  img {
    width: 100%;
    vertical-align: center;
  }
  
  .section_padding {
    padding: 70px 0;
  }
  .theam_btn {
    font-size: 16px;
    padding: 10px 40px;
  }
  /* header_part  start */
  .header .head {
    width: 100%;
  }
  .header .nav a {
    margin-left: 20px;
    font-size: 13.83px;
    font-weight: 400;
    
  }
  .header .nav a:hover {
    font-weight: 500;
  }
  .header .contact_btn {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 5px;
  }
  /* hero_part css start */
  .hero {
    padding: 100px 0px 120px;
  }
  .hero .text {
    width: 100%;
  }
  .hero .text h2 {
    margin-bottom: 25px;
  }
  .hero-btn{
    padding-bottom:25px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero-img img {
    width: 100%;
    margin-top: 20px;
  }
  /* main-part css start */
  .main .lorem h3 {
    margin-bottom: 20px;
  }
  /* hill-part css start */
  .hill .card {
    width: 100%;
    margin-top: 20px;
  }
  .hill .card h5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hill .card img {
    margin-bottom: 40px;
  }
  .hill .card h5::before {
    top: -20px;
  }
  /*aeroplne-part css start */
  .aeroplne-text img {
    width: 60px;
  }
  
  /* lakeview-part css start */
  .lakeview-text {
    flex-wrap: wrap;
  }
  .lakeview-text h5 {
    line-height: 30px;
  }
  /* choosen_part css start */
 .choosen-place h4 {
    padding-bottom: 0px;
  }
 .choosen-place .choose-lorem {
    margin-top: 30px;
  }
  .choosen-place .choose-lorem h6 {
    margin-bottom: 10px;
  }
  .choose-img img {
    margin-top: 20px;
  }
  /* customer-part css start */
  .customer .customer-card {
    width: 100%;
    padding: 30px 35px;
  }
  .customer .customer-card img {
    width: 80px;
    margin-bottom: 10px;
  }
  /* contact_part css start */
  .contact h3 {
    margin-bottom: 35px;
  }
  .contact .form {
    width: 100%;
    padding-right: 0;
  }
  .contact .from-img {
    width: 100%;
    margin-top: 35px;
  }
  .contact form a.theam_btn {
    width: 200px;
  }
  /* footer-part css start */
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-link .links {
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .footer .footer-link .links .link {
    width: 100%;
  }
}
